mediapipe>=0.10.9
opencv-python>=4.8.0
numpy>=1.24.0
tensorflow>=2.15.0
deepface>=0.0.79
tqdm>=4.67.1
matplotlib>=3.10.8
scikit-learn>=1.8.0
pandas>=2.3.3
tf-keras>=2.18.0
seaborn>=0.12.0
fastapi>=0.128.0
uvicorn>=0.40.0
python-multipart>=0.0.21
joblib>=1.3.2
